<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="/javascripts/script.js"></script>
  <title>moond</title>
</head>
<body>
  <nav>
    <div class="nav-title push">moond</div>
    <% if (!user) { %>
      <a href="/auth/google" class="login">Log in</a>
      <div><img src="https://i.imgur.com/FHjYyi0.png" width="15px"></div>
      <% } else { %>
      <a class="nav-link" href="/periods">Home</a>
      <a class="nav-link" href="/logout">Log out</a>
    <% } %>
  </nav>
 <main>

     
 

