<%- include('./partials/header') %>
<div class="home-page">
  <p>Welcome to moond!</p>
  <p>A simple period tracking calendar that will evenutally incorporate the phases of the moon. For now, it's a basic calendar application to track daily cycle events. Log in to access your personal calendar.</p>
</div>
<img class="home-img" src="https://i.imgur.com/GoZVirG.png" alt="screenshot of app main page">
<%- include('./partials/footer') %>