<!-- <%- include('./partials/header') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="/javascripts/script.js"></script>
  <title>moond</title>
</head>
<body>
  <nav>
    <% if (!user) { %>
      <a href="/auth/google" class="login">LOG IN</a>
      <div class="google-logo"><img src="https://i.imgur.com/FHjYyi0.png" width="30px"></div>
      <% } else { %>
      <a class="push" href="/periods">HOME</a>
      <a href="/logout">LOG OUT</a>
    <% } %>
  </nav>

  <div class="home-page">
    <h1 class="home-title">Moond</h1>
    <p class="home-text">Your most basic period tracking calendar. <br>No flowers.<br> No frills.</p>
  </div>
<%- include('./partials/footer') %>

