:root {
  --main-font: 'Open Sans', sans-serif;
}
body {
  padding: 10px;
  font-size: 14px;
  font-family: var(--main-font);
}

a {
  color:#ff6347;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.push {
  margin-left: auto;
}

nav > * {
  padding: 5px;
}

#name {
  font-size: 25px;
}


/* ---------calendar css to test-------- */
#calendar-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#header {
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
/* #header button {
  background-color:#92a1d1; */
/* } */
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
}
#weekdays div {
  width: 14%;
  padding: 10px;
  text-align: center;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.day {
  width: 14.24%;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  /* margin: 5px;  */
  /* box-shadow: 0px 0px 3px #CBD4C2;  */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.day:hover {
  background-color: tomato;
}

/* .day + #currentDay {
  background-color: tan;
} */
/* .event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
} */
.padding {
  width: 14.24%;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default !important;
  background-color: white !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

/* .red {
  border: 2px red solid;
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
} */

/* .red:hover {
  background-color: #ffd3d3;
} */

/* slider formatting */
input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 13px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 26px;
  width: 26px;
  border-radius: 25px;
  background: #FF6347;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 13px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 26px;
  width: 26px;
  border-radius: 25px;
  background: #FF6347;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 26px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 26px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #FF6347;
  height: 26px;
  width: 26px;
  border-radius: 25px;
  background: #FF6347;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}

