:root {
  --main-font: 'Open Sans', sans-serif;
}
body {
  padding: 10px;
  font-size: 14px;
  font-family: var(--main-font);
}

a {
  color:tomato;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.push {
  margin-left: auto;
}

nav > * {
  padding: 5px;
}

#name {
  font-size: 25px;
}

/* ---------calendar css to test-------- */
#calendar-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  background-color: white;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
#header {
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

#container {
  width: 700px;
}
#weekdays {
  width: 100%;
  display: flex;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  /* margin: 5px; */
  /* outline: 1px solid black; */
  /* box-shadow: 0px 0px 3px #CBD4C2; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: tomato;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: white !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}