body {
  padding: 10px;
  font-size: 16px;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
}

.login {
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  font-size: 36px;
}

.home-page{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  position: relative;
}

.home-title {
  text-transform: uppercase;
  font-size: 160px;
  font-family: 'Bebas Neue', sans-serif;
  transition: all .3s;
  margin: 0;
  padding-right: 30px;
}

.home-text {
  font-size: 60px;
  font-family: 'Bebas Neue', sans-serif;
  padding-top: 20px;
  align-self: flex-end;
  margin: 0;
  width: 325px;
  transition: all .3s;
}

.home-text::before,
.home-text::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-text::before {
  /* width: 60%; */
  /* 60% of parent's width */
  /* padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2; */
}

.home-text::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #e0313125;
  z-index: -1;
}

.home-text:hover {
  /* background-image: linear-gradient(to top, rgba(231, 3, 3, 0.829) 51%, transparent 50%); */
}

.home-title:hover {
  color: #e03131;
}
.home-img {
  width: 90%;
  margin: 10px;
  text-align: center;
}
a {
  color: #333;
  transition: all .3s;
}
a:hover {
  color: #e03131;
}
nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  /* border-bottom: 4px solid #ff7f50; */
}

.nav-bar {
  border-bottom: 5px solid #FF6347;
}

.google-logo {
  display: flex;
  align-items: center;
}
.push {
  margin-right: auto;
}
nav > * {
  padding: 5px;
}
.nav-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  color: #ff7f50;
}

#index {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;
  margin-top: 20px;
}
.period-table h1 {
  text-align: center;
}
.period-table td {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
input[type=submit] {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  background-color: rgb(252, 68, 35);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

.month-overview {
margin-top: 10px;
}

.period-table a {
  padding: 10px;
}
/* -------show page------------- */
#notes > * {
  padding: 10px;
  width: 500px;
}
/* ---------calendar-------- */
.calendar-container {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 60%;
  min-width: 500px;
}

.month-display {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 26px;
}

.btn {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid transparent;
}
#header {
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
#container {
  width: 100%;
}
#weekdays {
  width: 100%;
  display: flex;
}
#weekdays div {
  width: 14.24%;
  padding: 10px;
  text-align: left;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.day {
  width: 14.24%;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.day:hover {
  background-color: rgba(255, 218, 185, 70%);
}
.padding {
  width: 14.24%;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default !important;
  background-color: white !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: peachpuff;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(255, 218, 185, 70%);
}
/* slider formatting */
input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 10px;

}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 13px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FF6347;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}


