<%- include('../partials/header') %>

<p>This page will show an overview of the calendar and moon phase of the day.</p>

<a href="/periods/new">Add Event</a>

<section class="period-table">
  <table>
    <h1>Periods</h1>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

</section>





<%- include('../partials/footer') %>