<%- include('../partials/header') %>

<p>this is a new form page</p>
<form class="new-event-form" action="/periods" method="POST">
  <label>Period Phase</label>
  <select name="phase">
    <option value="Bleeding" selected>Bleeding</option>
    <option value="Ovulating">Ovulating</option>
  </select>
  <input type="datetime-local" name="periodDate">
  <input class="submit-event" type="submit" value="Add Period">
</form>

<%- include('../partials/footer') %>