<%- include('../partials/header') %>
<p>This page will show details on a specific </p>

<section>
<h1>Detail View</h1>
  <div>Name: <%= period.name %></div>
  <div>Date: <%= period.periodDate %></div>

</section>


<%- include('../partials/footer') %>