<%- include('../partials/header') %>

<section>
<h1>Detail View</h1>
  <div>Name: <%= period.name %></div>
  <div>Date: <%= period.periodDate %></div>
  <a href="/periods">Return to Periods overview</a>

</section>


<%- include('../partials/footer') %>